SECRET_KEY='your-secret-key-here'
DEBUG=True

DATABASE_URL='C:\path\to\your\project\db.sqlite3'
MEDIA_ROOT='C:\path\to\your\project\media'

ALLOWED_HOST_DEV='*'
ALLOWED_HOST_DEPLEOY='site.com', 'www.site.com'

CORS_ORIGIN_WHITELIST_DEV='http://localhost:3000'
CORS_ORIGIN_WHITELIST_DEPLOY='https://site.com'
CSRF_TRUSTED_ORIGIN_DEV='http://localhost:3000'
CSRF_TRUSTED_ORIGIN_DEPLOY='https://site.com'
