SECRET_KEY='tu_secret_key_aqui'
DEBUG=False

DATABASE_URL='ruta\absoluta\a\db.sqlite3'
MEDIA_ROOT='ruta\absoluta\a\media'

ALLOWED_HOST_DEV='*'
ALLOWED_HOST_DEPLOY='sitio.com', 'www.sitio.com'

CORS_ORIGIN_WHITELIST_DEV='http://IP_DEL_SERVIDOR'
CORS_ORIGIN_WHITELIST_DEPLOY='https://sitio.com'
CSRF_TRUSTED_ORIGIN_DEV='http://IP_DEL_SERVIDOR'
CSRF_TRUSTED_ORIGIN_DEPLOY='https://sitio.com'
